.programms__discount {
    box-sizing: border-box;
    width: 1210px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px 20px 20px 20px;
    padding: 0 28px 0 28px;
}