.about__description {
    width: 590px;
    height: 398px;
    margin: 120px 333px 60px 315px;
}

@media screen and (max-width: 1290px) {
    .about__description {
        margin: 70px auto 40px auto;
        height: 440px;        
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .about__description {
        height: 480px;
        width: 330px;
        margin-top: 35px;
    }
}