.header__logo {
    grid-area: logo;
    width: 190px;
    height: 48px;
    margin: auto 50px auto 0;
}

@media screen and (max-width: 1400px) {
    .header__logo {
        width: 152px;
        height: 38px;
        margin-left: 15px;
    }
}