.programms {
    width: 1290px;
    margin: 240px auto 120px auto;
}

@media screen and (max-width: 1300px) {
    .programms {
        width: calc(100% - 20px);
        margin-top: 500px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 720px) {
    .programms {
        margin-top: 350px; 
    }
}