.programms__tab-content {
    height: 195px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: 853px, right;
    background-size: contain;
}