.programms__discount-button {
    width: 228px;
    height: 56px;
    background: #EC650A;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 1080px) {
    .programms__discount-button {
        font-size: 14px;
    }
}