.news__title {
    width: 324px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    margin: 0;
}

@media screen and (max-width: 850px) {
    .news__title {
        font-size: 26px;
        line-height: 36px;
    }
}