.news__title {
    width: 324px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    margin: 0;
    grid-area: title;
}

@media screen and (max-width: 1300px) {
    .news__title {
        justify-self: center;       
    }
}

@media screen and (max-width: 850px) {
    .news__title {
        font-size: 26px;
        line-height: 36px;
        justify-self: center;
        margin-left: 30px;
        margin-bottom: 30px;
    }
}