.page {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    margin: 0 auto 0 auto;
    max-width: 1920px;
    min-width: 360px;
    text-rendering: optimizeLegibility;
}