.news {
    max-width: 1290px;
    margin: 90px auto 120px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1 fr 1fr;
    grid-template-areas:
        'title button'
        'container container';
    justify-content: center;
}

@media screen and (max-width: 850px) {
    .news {
        margin-top: 30px;
        margin-bottom: 60px;
        grid-template-columns: 1fr;
        grid-template-rows: 1 fr 1fr 1fr;
        grid-template-areas:
            'title'
            'container'
            'button';

    }
}