.news {
    width: 100%;
    margin: 90px auto 120px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .news {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}