.programms__help-subtitle {
    font-size: 28px;
    line-height: 34px;
    margin: 12px 0 40px 0;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 1290px) {
    .programms__help-subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}