.programms__tab-item {
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C8C8C8;
}

.programms__tab-item:last-of-type {
    border-bottom: none;
}