.programms__tab-item {
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;  
}

.programms__tab-item:first-of-type {
    border-top: none;
}

.programms__tab-item:last-of-type {
    border-bottom: none;
}

@media screen and (max-width: 720px) {
    .programms__tab-item {
        height: 96px;
    }
}