.programms__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    align-items: center;
    background-color: #004084;
    background-image: url('../../../images/industrial_horizont.svg');
    background-position-y: bottom;
    background-position-x: -310px;
    background-repeat: no-repeat;
}