.programms__help-title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    margin: 0;    
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 1290px) {
    .programms__help-title {
        font-size: 28px;
        line-height: 33px;
    }
}