.news__button {
    width: 165px;
    height: 54px;
    margin: 0;
    padding: 0;
    border: solid 2px #004084;
    border-radius: 30px;
    color: #004084;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 20px;
    grid-area: button;
    justify-self: end;
}

@media screen and (max-width: 1300px) {
    .news__button {
        justify-self: center;       
    }
}

@media screen and (max-width: 850px) {
    .news__button {
        width: 330px;
        margin-top: 40px;     
    }
}