.programms__search-button {
    width: 30px;
    height: 51px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;    
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}