.footer__column {
    width: 300px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .footer__column {
        align-items: center;
        text-align: center;
    }
}