.about__container {
    height: 559px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 1290px) {
    .about__container {
        align-items: center;
    }
  }