.about__achievements-title {
    font-size: 36px;
    line-height: 40px;
    margin: 45px 0 12px 45px;
}

@media screen and (max-width: 720px) {
    .about__achievements-title{
        margin: 20px 0 12px 20px; 
    }
}