.news__top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width: 1290px;
}

@media screen and (max-width: 1290px) {
    .news__top-bar {
        width: 980px;
    }
}

@media screen and (max-width: 1080px) {
    .news__top-bar {
        width: 620px;
    }
}

@media screen and (max-width: 850px) {
    .news__top-bar {
        flex-direction: column;
        width: 600px;
        margin-bottom: 30px;
    }
}