.header {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    width: calc(100% - 630px);
    height: 135px;
    margin: 0 auto 0 auto;
    display: flex;
    padding: 10px 0 10px 0;
}