.programms__card-title {
    max-width: 510px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin: 0 0 28px;
}

@media screen and (max-width: 1200px) {
    .programms__card-title {
        font-size: 18px;
        line-height: 24px;
    }
}