.programms__card-title {
    max-width: 510px;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin: 40px 0 28px 40px;
}