.programms__search-bar {
    box-sizing: border-box;
    
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004084;
    border-radius: 0px 20px 0px 0px;
    padding: 56px 12px 36px 12px;
}
