.popup {
    width: 100%;
    min-height:100%;
    background: rgba(0, 64, 132, 0.6);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}